@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
    --main-bg-color: #dbdbdb;
    --other-color: #e4e4e4;
    --search-bar-color: rgb(124 124 124);
    --text-color: rgb(28, 28, 28);
    --link-color: #5d5d5d;
    --link-hover-color: #545454e3;

}

@keyframes img-slider {

    0% {
        transform: translateX(900px);
    }

    40%,
    60% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-900px);
    }
}

* {
    padding: 0;
    margin: 0;
}

body {
    color: var(--text-color);
    background-image: url('/img/background-img7.jpg');
}

.container {
    min-height: calc(100vh - 70px - 12vh);
}

header {
    /* font-family:  'Comfortaa',cursive; */
    background-color: var(--main-bg-color);
    font-family: cursive;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 135px;
    padding: 1px 11px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    padding: 0px 13px;
}

nav ul li a {
    color: var(--link-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 19px;
}

nav ul li a:hover {
    color: var(--link-hover-color);
    font-weight: bold;
}

li a img {
    width: 27px;
    padding-bottom: 6px;
}

.search {
    display: flex;
    align-items: center;
    padding-left: 6px;
}

.search input {
    width: 409px;
    height: 36px;
    border-radius: 24px 0px 0px 24px;
    border: 2px solid var(--search-bar-color);
    padding-left: 20px;
    border-right-style: none;
    font-size: 17px;
}

.search input:enabled {
    border: 2px solid var(--search-bar-color);
}

.search button {
    background-color: var(--main-bg-color);
    border: 2px solid var(--search-bar-color);
    border-left-style: none;
    border-radius: 4px;
    border-radius: 0px 31px 31px 0px;
}

.search button:hover {
    background-color: var(--link-hover-color);
    cursor: pointer;
}

.search button img {
    width: 28px;
    margin-bottom: 1px;
}

.slider {
    background-color: rgb(60 60 60 / 10%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93vw;
    height: 351px;
    overflow: hidden;
    position: relative;
    top: 15px;
    left: 36px;
    border-radius: 15px;
}

.slider img {
    width: 498px;
    position: absolute;
    top: 17px;
    left: 340px;
}

.img0 {
    animation: img-slider 9s ease-in-out infinite normal none;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.img-slider-btn {
    display: flex;
    align-items: center;
    /* position: absolute;
    top: 100px; */
    justify-content: space-between;
}

.img-slider {
    background-color: rgba(201, 242, 204, 0.253);
    border: none;
    border-radius: 70px;
    display: flex;
    /* position: absolute; */

}

.img-slider:hover {
    background-color: rgba(189, 197, 242, 0.459);
}

.img-slider img {
    width: 70px;
}

.container2 {
    display: flex;
    align-items: stretch;
    color: var(--text-color);
    font-family: cursive;
    justify-content: space-between;
    margin: 18px 0px 7px 0px;
}

.sidebar {
    background-color: var(--other-color);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-radius: 5px;
    color: var(--text-color);
    min-width: 8.4%;
    width: 15%;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.sidebar ul button {
    padding: 4px 0px;
    margin: 4px 8px;
    font-size: medium;
}

.content {
    background-color: var(--other-color);
    line-height: 23px;
    color: var(--text-color);
    border-radius: 5px;
    width: 85%;
    margin-left: 15px;
    padding: 10px 10px;
}

.content h1 {
    padding-bottom: 7px;
}

.content h2 {
    padding: 7px 0px;
}

.content ul {
    padding-left: 17px;
}

#vala,
#valb,
#valc {
    margin-left: 40px;
    margin-bottom: 10px;
}

.values {
    margin-bottom: 10px;
}

#ln1 {
    display: none;
}

.comments {
    background-color: lightgrey;
    margin: 13px 0px 8px 1px;
    padding: 4px 12px;
    color: var(--text-color);
}

.comments h5 {
    color: var(--text-color);
    font-family: cursive;
    font-weight: 600;
    font-size: larger;
}

.comments img {
    width: 39px;
    border-radius: 24px;
    display: inline;
    margin-top: 3px;
}

.name {
    margin-left: 25px;
}

.name label,
.email label,
.comment label {
    font-weight: bold;
}

.name input,
.email input {
    width: 266px;
    height: 19px;
    border-radius: 5px;
    border: 1.5px solid var(--search-bar-color);
    padding-left: 4px;
}

.email {
    margin-left: 56px;
}

.comment {
    margin-top: 9px;
}

.comment input {
    width: 723px;
    height: 19px;
    border-radius: 11px;
    border: 1.5px solid var(--search-bar-color);
    padding-left: 4px;
}

#upload-button {
    margin-left: 82px;
    margin-top: 7px;
    padding: 2px 18px;
    font-weight: 500;
    font-size: medium;
}

#percomment {
    margin-top: 8px;
    background-color: lightgrey;
    padding: 6px 8px;
    color: var(--text-color);
}

/* #percomment img {
    width: 43px;
}

#percomment span {
    margin-left: 16px;
    font-size: small;
} */

#databasename{
    font-weight: 600;
}

#databaseemail{
margin-left: 15px;
}

#databasecomment{
    display: block;
    margin-bottom: 35px;
}

.alert {
    text-align: center;
    padding: 10px;
    background: #79c879;
    color: #fff;
    margin-bottom: 10px;
    display: none;
}

footer {
    height: 73px;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: cursive;
    width: 100%;
}