@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    /* --main-bg-color: #57a7f0;
    --other-color: #42c1ff;
    --search-bar-color: rgb(124 124 124);
    --text-color: rgb(28, 28, 28);
    --link-color: #5d5d5d;
    --link-hover-color: #545454e3; */

    --main-bg-color: #0087ff;
    --head-foot-color: #42c1ffc9;
    --text-color: black;
    --link-hover-color: #0000ee;
    --content-color: #42c1ff78;
    --comment-color: #0a8ff9;
}

@keyframes img-slider {

    0% {
        transform: translateX(295%);
    }

    40%,
    60% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-295%);
    }
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--main-bg-color);
}

.container {
    min-height: calc(100vh - 70px - 12vh);
}

header {
    background-color: var(--head-foot-color);
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    padding: 2px 6px;
}

nav ul {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
    padding: 0px 13px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 19px;
}

nav ul li a:hover {
    color: var(--link-hover-color);
    font-weight: bold;
}

li a img {
    width: 27px;
    padding-bottom: 6px;
}

.search {
    display: flex;
    align-items: center;
    padding-left: 6px;
}

.search input {
    width: calc(63vw/2);
    height: 27px;
    border-radius: 24px;
    border: none;
    padding-left: 12px;
    font-size: 16px;
    margin-right: 6px;
}

.slider {
    background-color: rgb(0 0 0 / 5%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    overflow: hidden;
    margin: 16px 14px;
    padding: 13px 0px;
    border-radius: 20px;
}

.slider img {
    min-width: 235px;
    width: 35vw;
    animation: img-slider 10s ease-in-out infinite normal none;
}

.container2 {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin: 18px 0px 7px 0px;
}

/* .sidebar {
    background-color: var(--content-color);
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-radius: 5px;
    color: var(--text-color);
    min-width: 8.4%;
    width: 15%;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.sidebar ul button {
    padding: 4px 0px;
    margin: 4px 8px;
    font-size: medium;
} */

.content {
    background-color: var(--content-color);
    border-radius: 10px;
    margin: 15px 4rem;
    padding: 7px 25px;
    width: 82%;
}

.content h1 {
    padding-bottom: 12px;
    text-align: center;
    font-size: xxx-large;
}

.content h2 {
    padding: 7px 0px;
}

.content ul {
    padding-left: 17px;
}

#vala,
#valb,
#valc {
    margin-left: 40px;
    margin-bottom: 10px;
}

.values {
    margin-bottom: 10px;
}

#ln1 {
    display: none;
}

.comments {
    background-color: var(--comment-color);
    margin: 13px 0px 8px 1px;
    padding: 4px 12px;
    border-radius: 12px;
}

.comments h5 {
    font-weight: 600;
    font-size: larger;
}

.comments img {
    width: 39px;
    border-radius: 24px;
    display: inline;
    margin-top: 3px;
}

.name {
    margin-left: 25px;
}

.name label,
.email label,
.comment label {
    font-weight: bold;
}

.name input,
.email input {
    width: 266px;
    height: 19px;
    border-radius: 5px;
    border: none;
    padding-left: 4px;
}

.email {
    margin-left: 9px;
}

.comment {
    margin-top: 9px;
    margin-left: 67px;
}

.comment input {
    width: 50vw;
    height: 19px;
    max-width: 757px;
    border-radius: 11px;
    border: none;
    padding-left: 4px;
}

#upload-button {
    margin-left: 82px;
    margin-top: 7px;
    padding: 2px 18px;
    font-weight: 500;
    font-size: medium;
}

#percomment {
    margin-top: 8px;
    background-color: var(--comment-color);
    padding: 6px 8px;
    border-radius: 12px;
}

#databasename {
    font-weight: 600;
}

#databaseemail {
    margin-left: 15px;
}

#databasecomment {
    display: block;
    margin-bottom: 35px;
}

.alert {
    text-align: center;
    padding: 10px;
    background: #09c1bb;
    margin-bottom: 10px;
    display: none;
}

footer {
    min-height: 17vh;
    display: flex;
    align-content: center;
    align-items: center;
    background-color: var(--head-foot-color);
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer span {
    margin: 0 27px;
}

footer div a {
    margin: 0px 3px;
}

footer div a img {
    width: 25px;
    border-radius: 50%;
    transition: all 0.6s;
}

footer div a img:hover {
    background: rgb(0 0 0 / 25%);
    transform: translateY(-7px);
}